<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kedi Ürünleri</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
		.logo {
			display: flex; /* Logo ve ismi yatay olarak hizalar */
			align-items: center; /* Öğeleri dikeyde ortalar */
		}

		.logo img {
			max-width: 150px; /* Maksimum genişlik */
			height: auto; /* Orantılı yükseklik */
		}

        .product-box {
            display: flex; 
            flex-direction: column; /* İçeriği dikey olarak hizala */
            align-items: center; /* Ürün kutularını yatayda hizala */
            text-align: center; /* Metinleri merkezi hizala */
            margin-bottom: 20px; /* Kutular arasına boşluk ekleyelim */
        }

        .product-box img {
            width: 200px; /* İstenilen genişlik */
            height: 200px; /* İstenilen yükseklik */
        }

        .product-box h3 {
            margin-top: 10px; /* Yazı ile görüntü arasına boşluk ekleyelim */
            font-size: 16px; /* Yazı boyutunu ayarlayalım */
        }






    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header_start  -->
    <header>
        <div class="header-area ">
            
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/home">Ana Sayfa</a></li>
                                        <li><a href="/">Hakkımızda</a></li>
                                        <li><a href="#">Ürün Önerilerimiz <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/kedi_urunleri">Kedi Ürünleri</a></li>
                                                <li><a href="/kopek_urunleri">Köpek Ürünleri</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/bakim">Bakım</a></li>
                                            
                                        </li>
                                         <li><a href="#">Profil <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/profile">Profil</a></li>
                                                <li>
                                                    <a href="#" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">Çıkış</a>
                                                    <form id="logoutForm" action="/auth/logout" method="POST" style="display: none;"></form>
                                                </li>

                                        </li>
                                        
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header_start  -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Kedi Ürünleri</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 justify-content-center">
                <div class="product-box">
                    <img src="img/kedimama_1.jpg" alt="Ürün 1">
                    <h3>Pro Plan Somonlu Kısırlaştırılmış Kedi Maması 3kg</h3>
                </div>
            </div>
            <div class="col-md-4 justify-content-center">
                <div class="product-box">
                    <img src="img/kedimama_2.jpg" alt="Ürün 2">
                    <h3>Pro Plan Elegant Somonlu Yetişkin Kedi Maması 3 Kg</h3>
                </div>
            </div>
            
            
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedimama_3.jpg" alt="Ürün 3">
                    <h3>Pro Plan Kitten Tavuklu Pirinçli Yavru Kedi Maması 3 kg</h3>
                    
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedimama_4.jpg" alt="Ürün 4">
                    <h3>Pro Plan Delicate Adult Hindili Yetişkin Kedi Maması 3 kg </h3>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedimama_5.jpeg" alt="Ürün 5">
                    <h3>Pro Plan Tavuklu Yetişkin Kedi Maması 3 kg</h3>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedimama_6.jpg" alt="Ürün 6">
                    <h3>Pro Plan Sterilised Somonlu ve Ton Balıklı 3 kg</h3>
                    
                </div>
            </div>
        </div>
            <br><br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedimama_7.jpg" alt="Ürün 7">
                    <h3>Pro Plan Original Tavuklu Kuru Yavru Kedi Maması 3 kg</h3>
                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedimama_8.jpg" alt="Ürün 8">
                    <h3>Pro Plan Senior Somonlu Yaşlı Kedi Maması 3 kg</h3>
                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedimama_9.jpg" alt="Ürün 9">
                    <h3>Pro Plan Delicate Kuzu Etli Kedi Maması 3 kg </h3>
                        
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedikumu_1.jpg" alt="Ürün 10">
                    <h3>Proline Aktif Karbonlu Kedi Kumu 10 L </h3>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-box">
                    <img src="img/kedikumu_2.jpg" alt="Ürün 11">
                    <h3>Proline Bebek Pudrası Kokulu Kedi Kumu 10 L </h3>
                    
                </div>
            </div>
                <div class="col-md-4">
                    <div class="product-box">
                        <img src="img/kedikumu_3.jpg" alt="Ürün 12">
                        <h3>Proline Bentonit Kokusuz Kedi Kumu 10 L</h3>
                        
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="product-box">
                        <img src="img/kedikumu_4.jpg" alt="Ürün 13">
                        <h3>Proline Aloe Vera Kokulu Kedi Kumu 10 L</h3>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-box">
                        <img src="img/kumkabi_1.jpg" alt="Ürün 14">
                        <h3>Kapalı Kedi Kum Kabı</h3>
                        
                    </div>
                </div>
                    <div class="col-md-4">
                        <div class="product-box">
                            <img src="img/kumkabi_2.jpg" alt="Ürün 15">
                            <h3>Açık Kedi Kum Kabı</h3>
                            
                        </div>
                    </div>
                </div>
                <br><br><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-box">
                            <img src="img/kedioyun_1.jpg" alt="Ürün 16">
                            <h3>Olta Kedi Oyuncağı</h3>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product-box">
                            <img src="img/kedioyun_2.jpg" alt="Ürün 17">
                            <h3>Kafes İçinde Fare Kedi Oyuncağı</h3>
                            
                        </div>
                    </div>
                        <div class="col-md-4">
                            <div class="product-box">
                                <img src="img/kedioyun_3.jpg" alt="Ürün 18">
                                <h3>Toplu Yuvarlak Kedi Oyuncağı</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>     
    </div>
    

    

    <!-- footer_start  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">                    
					<div class="col-md-12">
						<div class="contact-info text-center">
							<h4>Bize Ulaşın</h4>
							<p class="contact-details">Telefon: 0 262 303 30 33</a></p>
							<p class="contact-details">E-posta: info@petcare.com</a></p>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="bordered_1px"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
        //     icons: {
        //      rightIcon: '<span class="fa fa-caret-down"></span>'
        //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
        var timepicker = $('#timepicker').timepicker({
         format: 'HH.MM'
     });
    </script>
</body>
</html>